# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
__pycache__/
/node_modules
/dip_trades/node_modules
/trading_report/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDE
.idea/
.viminfo

# Keys for webdriver
config.json

# Temp files
app/public/summary
dip_trades/dip_log.txt
dip_trades/yarn.lock
failure.html
screenshot.png
trading_report/offers.csv
trading_report/transactions.csv