@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.defaultLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

.contentWrapper {
  width: 100%;
  margin: 40px auto 0;
  margin-top: 48px;

  @include tablet {
    margin-top: 48px;
    margin-bottom: 16px;
    padding: 0 16px;
    max-width: calc(736px + 32px);
  }

  @include laptop {
    margin-bottom: 16px;
    padding: 0 24px;
    max-width: calc(944px + 48px);
  }

  @include desktop {
    margin-bottom: 44px;
    max-width: calc(1360px + 48px);
  }
}
