@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.SideBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 24px;
    min-height: 40px;
  }

  @include desktop {
    margin-bottom: 32px;
  }
}

.leftSide {
  &.fluidMobile {
    width: 100%;
    margin-right: 0;

    @include tablet {
      width: 50%;
    }
  }
}

.rightSide {
  display: flex;
  justify-content: flex-end;
}
