@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.pageCutoffComponent {
  justify-content: center;
  text-align: center;

  .header {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

    .title {
      color: $text-color-primary;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      margin-right: 8px;
    }
  }
  .content {
    color: $text-color-primary;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    justify-content: center;
    text-align: center;
  }
}
