$curved-background-dark-desktop: url('/assets/section-cutoff-dark-desktop.svg');
$curved-background-dark-laptop: url('/assets/section-cutoff-dark-laptop.svg');
$curved-background-dark-tablet: url('/assets/section-cutoff-dark-tablet.svg');
$curved-background-dark-mobile: url('/assets/section-cutoff-dark-mobile.svg');

$docs-background-external-link: url('/assets/docs/icon_link.svg');

$token-bonk: url('/assets/tokens/bonk.svg');
$token-btc: url('/assets/tokens/btc.svg');
$token-dual: url('/assets/tokens/dual.svg');
$token-eth: url('/assets/tokens/eth.svg');
$token-mngo: url('/assets/tokens/mngo.svg');
$token-sol: url('/assets/tokens/sol.svg');
$token-usdc: url('/assets/tokens/usdc.svg');
$token-slcl: url('/assets/tokens/slcl.png');
$token-wstethpo: url('/assets/tokens/wstethpo.png');
$token-all: url('/assets/tokens/all.png');
$token-dean: url('/assets/tokens/dean.png');
$token-t: url('/assets/tokens/t.svg');
$token-guac: url('/assets/tokens/guac.png');
$token-tbtc: url('/assets/tokens/tbtc.svg');
$token-msol: url('/assets/tokens/msol.png');
