// variables naming styleguide
// $element-property-type

// color
$black: #000000;
$white: #ffffff;

// main-colors
$text-color-primary: #ffffff;
$text-color-secondary: #B4B4D6;
$text-color-tertiary: #8282A3;
$header-panel-text-color: #05040D;

// background-colors
$bg-primary: #05040d;
$bg-additional: #0C091D;
$header-panel-bg: #D6F4FE;
$strike-button-bg: rgba(5, 4, 13, 0.04);

// cards
$section-bg-light: #D6F4FE;
$section-bg-dark: $bg-primary;

$card-bg-dark: #05040D;
$card-bg-light: #D6F4FE;
$card-light-text-color: #0C091D;
$card-light-text-color-secondary: #64747C;
$card-bg-secondary: #0C091D;

$card-border-color: #1E1A3E;
$card-border-color-secondary: #191434;

// accent
$accent-primary: #376FFF;
$accent-secondary: rgba(55, 111, 255, 0.2);

// Buttons
$button-bg-primary: #3A9F7B;
$button-bg-primary-hover: darken($button-bg-primary, 10);
$button-bg-primary-active: darken($button-bg-primary, 20);
$button-primary-text-color: $text-color-primary;

$button-bg-secondary: #D6F4FE;
$button-bg-secondary-hover: darken($button-bg-secondary, 10);
$button-bg-secondary-active: darken($button-bg-secondary, 20);
$button-secondary-text-color: #05040D;

// Table
$table-bg: #05040D;
$table-text-color: #ffffff;
$table-gradient-fix-column: linear-gradient(270deg, #05040D 62.76%, rgba(5, 4, 13, 0) 100%);
$table-thead-color: darken($table-text-color, 30);
$table-border-color: darken($table-text-color, 80);
$pagination-bg-hover: #3A9F7B;

// font-size:
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-xxl: 26px;
$font-size-xxxl: 32px;

// Menu
$menu-link-color-hover: #376FFF;

// Select
$select-border-color: #D6F4FE;
$select-text-color: #3A9F7B;

// Info card
$info-card-bg: #1E1D25;
$info-card-title-color: #B4B4D6;
$info-card-border-color: #4B4A51;

// Summary table
$sum-table-text-color: #B4B4D6;

// breakpoints
$desktop: 1440px;
$laptop: 992px;
$tablet: 768px;
$mobile: 375px;
