@import './_variables.scss';
@import './_mixins.scss';
@import './_reset.scss';
@import './_animations.scss';
@import './_fonts.scss';
@import './_icons.scss';
@import '~antd/dist/antd.css';

body {
  background-color: $header-panel-bg;
}

a {
  color: $button-bg-primary;
  &:hover {
    color: $button-bg-primary-hover;
  }
}

.bonk-icon {
  background-image: $token-bonk;
  border-radius: 50%;
}
.btc-icon {
  background-image: $token-btc;
}
.dual-icon {
  background-image: $token-dual;
}
.eth-icon {
  background-image: $token-eth;
}
.mngo-icon {
  background-image: $token-mngo;
}
.sol-icon {
  background-image: $token-sol;
}
.usdc-icon {
  background-image: $token-usdc;
}
.slcl-icon {
  background-image: $token-slcl;
}
.wstethpo-icon {
  background-image: $token-wstethpo;
}
.all-icon {
  background-image: $token-all;
}
.dean-icon {
  background-image: $token-dean;
}
.t-icon {
  background-image: $token-t;
}
.guac-icon {
  background-image: $token-guac;
}
.tbtc-icon {
  background-image: $token-tbtc;
}
.msol-icon {
  background-image: $token-msol;
}
.jitosol-icon {
  background-image: $token-jitosol;
}
.nos-icon {
  background-image: $token-nos;
}
.butter-icon {
  background-image: $token-butter;
}
.gecko-icon {
  background-image: $token-gecko;
}
.moutai-icon {
  background-image: $token-moutai;
}
.gofx-icon {
  background-image: $token-gofx;
}
.pyth-icon {
  background-image: $token-pyth;
}
.elon-icon {
  background-image: $token-elon;
}
.ray-icon {
  background-image: $token-ray;
}
.chai-icon {
  background-image: $token-chai;
}
.drako-icon {
  background-image: $token-drako;
}
.scoin-icon {
  background-image: $token-scoin;
}
