@import './_variables.scss';
@import './_mixins.scss';
@import './_reset.scss';
@import './_animations.scss';
@import './_fonts.scss';
@import './_icons.scss';
@import '~antd/dist/antd.css';
@import '~@solana/wallet-adapter-ant-design/styles.css';

.mb-8 {
  margin-bottom: 8px;
}

.mb-20 {
  margin-bottom: 20px;
}

.bonk-icon {
  background-image: $token-bonk;
  border-radius: 50%;
}
.btc-icon {
  background-image: $token-btc;
}
.dual-icon {
  background-image: $token-dual;
}
.eth-icon {
  background-image: $token-eth;
}
.mngo-icon {
  background-image: $token-mngo;
}
.sol-icon {
  background-image: $token-sol;
}
.usdc-icon {
  background-image: $token-usdc;
}
