@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/icons';

.infoCardComponent {
  width: 100%;
  background: $bg-primary;
  border: 1px solid $info-card-border-color;
  border-radius: 12px;
  padding: 10px 16px;

  .title {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $text-color-primary;
    margin-bottom: 8px;
  }

  .value {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $text-color-primary;

    .content {
      display: flex;
      flex-direction: column;

      & > button {
        margin-top: 20px;
      }
    }
  }

  .tokenIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-size: contain;
  }
}
